<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        <!-- Bootstrap links -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <!--Libreria sweetalert2 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

        <link  rel="stylesheet" href="static/estilos/styles.css">
        <title>Agregar Asignatura</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #0c1c3c;">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse show" id="navbarSupportedContent" style="">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/inicio}">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Asignaturas</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/asignaturas/agregar}">Agregar Asignatura</a>
                                <a class="dropdown-item" th:href="@{/asignaturas/listado}">Listar Asignaturas</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Docente</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/docentes/agregar}">Agregar Docente</a>
                                <a class="dropdown-item" th:href="@{/docentes/listado}">Listar Docentes</a>
                            </div>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="#">Departamento</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Programa Academico</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Bibliografía</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Libros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Autores</a>
                        </li>
                        <form class="d-flex" th:action="@{/logout}" method="post">
                            <button class="btn btn-outline-light" type="submit">Cerrar Sesión</button>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>

        <div class='container mt-5'>
            <div class='row'>
                <div class='col'>
                    <h1 class="text-center">Agregar Docente</h1>
                </div>
            </div>
        </div>
        <div class='container'>
            <div class='row'>
                <div class='col'>
                    <form  method='POST' th:action="@{/docentes/guardar}" th:object="${docente}">
                        <div class='form-outline mb-4'>
                            <label for="asigTitulo" >Matricula:</label>
                            <input type="text" class="form-control" th:field="*{docMatricula}" id="docMatricula"  required>
                        </div>

                        <div class='form-outline mb-4'>
                            <label for="asigTitulo" >Nombre(s):</label>
                            <input type="text" class="form-control" th:field="*{docNombre}" id="docNombre" required>
                        </div>

                        <div class='form-outline mb-4'>
                            <label for="asigTitulo" >Apellidos:</label>
                            <input type="text" class="form-control" th:field="*{docApellidos}" id="docApellidos"  required>
                        </div>
                        <div class='form-outline mb-4'>
                            <label for="asigTitulo" >Link de Fotografía:</label>
                            <input type="text" class="form-control" th:field="*{docFoto}" id="docFoto"  placeholder="Opcional">
                        </div>
                        <div class='form-outline mb-4'>
                            <label for="asigTitulo" >Telefono:</label>
                            <input type="text" class="form-control" th:field="*{docTelefono}" id="docTelefono"  required>
                        </div>
                        <div class='form-outline mb-4'>
                            <label for="asigTitulo" >Email:</label>
                            <input type="email" class="form-control" th:field="*{docEmail}" id="docEmail"  required>
                        </div>
                        <div class='form-outline mb-4'>
                            <label for='miSelect'>Departamento: </label>
                            <select class='form-control ' th:field="*{departamento}" id='departamento'>
                                <option th:each="departamento: ${departamentos}" 
                                        th:value="${departamento.dept_id}" th:text="${departamento.dept_nombre}"></option>
                            </select>
                        </div>

                        <button class="btn btn-outline-success" type="submit">
                            Guardar
                        </button>
                    </form>


                </div>
            </div>

    </body>
</html>