<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Listado de Asignaturas en la BD</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap links -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #0c1c3c;">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse show" id="navbarSupportedContent" style="">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Asignaturas</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/asignaturas/agregar}">Agregar Asignatura</a>
                                <a class="dropdown-item" th:href="@{/asignaturas/listado}">Listar Asignaturas</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Docente</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/docentes/agregar}">Agregar Docente</a>
                                <a class="dropdown-item" th:href="@{/docentes/listado}">Listar Docentes</a>
                            </div>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="#">Departamento</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Programa Academico</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Bibliografía</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Libros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Autores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
                <form th:action="@{/asignaturas/buscar}" class="form-inline my-2 my-lg-0">
                    <input autofocus="autofocus" name="q" class="form-control mr-sm-2" type="search" th:placeholder="${param.q}" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>

            </div>
        </nav>
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-4">Asignaturas en la BD</h1>
                </div>
                <div class="col-lg-6 text-end">
                    <a th:href="@{/asignaturas/agregar}" class="btn btn-info mt-4" role="button">Nueva asignatura</a>
                </div>
                <div class="col">

                    <hr>
                    <table class="table table-striped " id="miTabla">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Titulo</th>
                                <th scope="col">Programa Academico</th>
                                <th scope="col">Docente</th>
                                <th scope="col" colspan="2">Operaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="asig : ${asignaturas}">
                                <td th:text="${asig.clave}"></td>
                                <td th:text="${asig.titulo}"></td>
                                <td><a th:href="@{/asignaturas/listado/programaAcademico(proId=${asig.programaAcademico.proId})}"
                                       class="btn btn-outline-primary"
                                       th:text="${asig.programaAcademico.proNombre}"></a></td>
                                <td><a th:href="@{/asignaturas/listado/docente(matricula=${asig.docente.docMatricula})}"
                                       class="btn btn-outline-primary"
                                       th:text="${asig.docente.docNombre} + ' ' + ${asig.docente.docApellidos}"></a></td>
                                <td><a th:href="@{/asignaturas/editar(id=${asig.clave})}"
                                       class="btn btn-info" role="button" 
                                       >Modificar</a></td>
                                <td><a  th:href="@{/asignaturas/eliminar(id=${asig.clave})}" 
                                        class="btn btn-danger" role="button">
                                        Eliminar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Controles de paginación -->
            <div class="pagination-container">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/asignaturas/listado(pagina=${currentPage - 1})}">Anterior</a>
                        </li>
                        <li th:each="pageNumber : ${#numbers.sequence(0, totalPaginas - 1)}" class="page-item" th:classappend="${pageNumber == currentPage ? 'active' : ''}">
                            <a class="page-link" th:href="@{/asignaturas/listado(pagina=${pageNumber})}" th:text="${pageNumber + 1}"></a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == totalPaginas - 1 ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/asignaturas/listado(pagina=${currentPage + 1})}">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

      
       
    </body>
</html>